/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 *        If you want to use Sass in your app, you only need to import `.sass` files instead of `.css` once:
 ```js
 import './app.global.scss';
 ```
 */
@import "~font-awesome/css/font-awesome.css";

body {
  position: relative;
  color: white;
  height: 100vh;
  background-color: #302f2f;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow: hidden;
  font-size: 62.5%;
  -webkit-app-region: drag;
}

.container__timely {
  position: relative;
  height: 80vh;
}

.container__progress {
  margin: auto;
  width: 230px;
  height: 230px;
}

.progress__text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.progress__text > h1 {
  font-size: 5rem;
  margin-bottom: 0;
  padding: 0;
}

.progress__text > p {
  font-size: 1.2rem;
  margin: 0 0;
}

.modal__button,
.modal__button:link,
.modal__button:visited {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: #e1e1e1;
  border: none;
  color: #fff;
  width: 75%;
  background-color: #5cb1a8;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.2s;
  text-decoration: none;
}

.modal__button:hover {
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(61, 61, 61, 0.6);
  transform: translate(-51%, -51%);
  border: none;
}

.modal_button:hover:active {
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(61, 61, 61, 0.6);
  transform: translate(-50%, -50%);
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: url(#idCSS);
}
